@import "./style/globals.scss";


.header {
  width: 100%;
  height: 50px;
  background-color: $rich_cadet;
}

.main_content {
  width: 70vw;
  margin: 0 auto;
  overflow-x: scroll;
  @media (max-width: 1000px) {
    width: 90vw;
  }
  h1 {
    @include fontRegular;
    font-size: 24px;
    margin-top: 20px;
    color: $dark_cyan;
  }

  .filters_wrapper {
    display: flex;
    gap: 20px;
    margin: 25px 0 40px 0;
    align-items: center;
    .filter_btn {
      position: relative;
      .btn {
        @include fontLight;
        font-size: 12px;
        padding: 8px 12px;
        border: 1px solid #78849E66;
        color: $slate_blue;
        border-radius: 20px;
        cursor: pointer;
        transition: .25s ease-in-out all;
        margin: 0;
      }
      &.active .btn {
        @include fontMedium;
        color: #012433;
        background-color: $sky_blue;
        border: 1px solid #78849E66;
      }
      .filter_dropdown {
        position: absolute;
        top: 2px;
        right: -240px;
        background-color: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 12px 24px #01243366;
        width: 180px;
        padding-bottom: 10px;
        visibility: hidden;
        opacity: 0;
        transition: .25s ease-in-out all;
        @media (max-width: 600px) {
          top: 40px;
          left: 0;
        }
        &.showDropdown {
          visibility: visible;
          opacity: 1;
        }
        &::before {
          content: '';
          width: 100%;
          top: 0;
          left: 0;
          height: 100dvh;
          position: fixed;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: -1;
        }
        .label {
          font-size: 12px;
          color: $slate_blue_opacity;
          padding-top: 4px;
        }
        .years_wrapper {
          width: 85%;
          display: flex;
          flex-direction: column;
          gap: 0;
          p {
            @include fontMedium;
            color: $blue_smoke;
            margin: 2px 0;
            font-size: 14px;
            padding: 5px 0;
            cursor: pointer;
            width: 100%;
            text-align: center;
            transition: .2s ease-in-out all;
            &.selected_year {
              color: $sky_blue;
            }
          }
        }
      }
    }
    .clear_filters {
      cursor: pointer;
      margin-left: -5px;
      background: transparent;
      transition: .25s ease-in-out background-color;
      padding: 5px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: rgba($light_gray, 0.4);
      }
    }
  }

  .movies_table {
    min-width: 600px;
    .movies_table_header {
      @include grid;
      border-bottom: 1px solid rgba($deep_cerulean, 0.6);
      padding: 0 20px;
      p {
        @include fontBold;
        color: $deep_cerulean;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        padding: 5px 0;
      }
    }

    .movies_list_items {
      .infinite-scroll-component {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        .movie_row_item {
          @include grid;
          padding: 25px 0;
          padding: 0 20px;
          border-bottom: 1px solid rgba($light_gray, 0.4);
          align-items: center;
          color: $blue_smoke;
          .ranking_field {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .eye_icon_field {
            display: flex;
            align-items: center;
            justify-content: center;
            .eye_icon_wrapper {
              width: 30px;
              height: 30px;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 30px;
              cursor: pointer;
              transition: .25s ease-in-out background-color;
              &:hover {
                background-color: rgba($light_gray, 0.4);
              }
              img {
                width: 15px;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .no_movies_found {
      width: 100%;
      text-align: center;
      color: #536B7A;
      min-height: calc(100dvh - 300px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .modal_wrapper {
    width: 100%;
    height: 100dvh;
    background-color: rgba($color: $black, $alpha: 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal {
      width: 800px;
      max-width: 90%;
      height: fit-content;
      padding: 20px 50px;
      background-color: white;
      box-shadow: 0px 20px 40px #01243366;
      max-height: 90dvh;
      overflow: scroll;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin: 0 5px;

      .close_btn {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        top: 25px;
        right: 30px;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
        p {
          font-size: 8px;
          line-height: 100%;
          text-transform: uppercase;
          margin: 0;
          color: $steel_blue;
        }
      }

      h2 {
        @include fontLight;
        font-size: 32px;
        margin-top: 5px;
        color: $ocean_blue;
        margin-bottom: -5px;
        &::after {
          content: '';
          width: 52px;
          height: 2px;
          position: relative;
          background-color: #21B3CF;
          display: block;
          margin-top: 12px;
        }
      }
      .modal_field {
        .label {
          @include fontRegular;
          font-size: 14px;
          text-transform: capitalize;
          color: $slate_blue_opacity;
          margin: 0 0 6px 0;
        }
        .value {
          @include fontMedium;
          font-size: 16px;
          margin: 0;
          color: $slate_blue;
        }
        &.runtime_field {
          .value::after {
            content: ' mins';
          }
        }
        &.revenue_field {
          .value::before {
            content: '$';
          }
        }
      }
      .director_actors_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        .director_field {
          width: fit-content;
        }
        .value {
          color: $sky_blue;
        }
      }
    }
  }
}