@import "./style/globals.scss";


.header {
  width: 100%;
  height: 50px;
  background-color: #012433;
}

.main_content {
  width: 70vw;
  margin: 0 auto;
  h1 {
    @include fontRegular;
    font-size: 24px;
    margin-top: 20px;
  }

  .movies_table {
    .movies_table_header {
      @include grid;
      border-bottom: 1px solid $color1;
      padding: 0 20px;
      p {
        @include fontBold;
        color: $color1;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        padding: 5px 0;
      }
    }

    .movies_list_items {
      .infinite-scroll-component {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        .movie_row_item {
          @include grid;
          padding: 25px 0;
          padding: 0 20px;
          border-bottom: 1px solid $color2;
          .ranking_field {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .eye_icon_field {
            display: flex;
            align-items: center;
            justify-content: center;
            .eye_icon_wrapper {
              width: 30px;
              height: 30px;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 30px;
              cursor: pointer;
              transition: .25s ease-in-out background-color;
              &:hover {
                background-color: rgba($color2, 0.4);
              }
              img {
                width: 15px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

.modal_wrapper {
  width: 100%;
  height: 100dvh;
  background-color: rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 800px;
    max-width: 90%;
    height: fit-content;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 20px 40px #01243366;
    max-height: 90dvh;
    overflow: scroll;
    position: relative;
    .close_btn {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      top: 20px;
      right: 20px;
      flex-direction: column;
      gap: 3px;
      align-items: center;
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
      }
      p {
        font-size: 8px;
        line-height: 100%;
        text-transform: uppercase;
        margin: 0;
      }
    }
    h2 {
      @include fontLight;
      font-size: 32px;
    }
  }
}