:root {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  margin: 0;
  padding: 0;
	border: 0;
  min-height: 100vh;
	font-size: 100%;
	font: inherit;
  width: 100%;
  overflow-x: hidden;
}
